<div class="meal">
    <img src="<%= meal.imageUrl %>" alt="<%= meal.title %>" style="width:100%; height: auto;">
    <h2><%= meal.title %></h2>
    <p><%= meal.description %></p>
    <div class="price">$<%= meal.price %> CAD</div>
</div>
