<div class="registration-container">
  <h2>Sign Up!</h2>
  <form method="post" action="sign-up" class="registration-form">
    <% if (errors && errors.general) { %>
      <div class="error-message"><%= errors.general %></div>
    <% } %>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" name="firstName" value="<%= data ? data.firstName : '' %>">
      <% if (errors && errors.firstName) { %>
        <div class="error-message"><%= errors.firstName %></div>
      <% } %>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" name="lastName" value="<%= data ? data.lastName : '' %>">
      <% if (errors && errors.lastName) { %>
        <div class="error-message"><%= errors.lastName %></div>
      <% } %>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" value="<%= data ? data.email : '' %>">
      <% if (errors && errors.email) { %>
        <div class="error-message"><%= errors.email %></div>
      <% } %>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" value="<%= data ? data.password : '' %>">
      <% if (errors && errors.password) { %>
        <div class="error-message"><%= errors.password %></div>
      <% } %>
    </div>

    <button type="submit" class="register-button">Register</button>
  </form>
</div>
